

/* Large desktop @media (min-width: 1200px) { ... }
/* Portrait tablet to landscape and desktop @media (min-width: 768px) and (max-width: 979px) { ... }
/* Landscape phone to portrait tablet @media (max-width: 767px) { ... }
/* Landscape phones and down @media (max-width: 480px) { ... }*/

@media screen and (min-width: 1200px){

    body  {
        background-image: url("../img/Star_small.png");
        background-size:repeat;
        background-color:white;
    }

    .page{
        background-color: black;
        opacity: 0.9;
        color:white;
        width: 1000px;
        margin: auto;
        padding: 20px 20px 20px 20px;
        font-family: Verdana;
    }

    .head_left{
        float: left;
        width: 50%;
        height: 500px;
    }

    .head_right{
        float: right;
        width: 50%;
        height: 500px;  
    }

    .page_content{
        clear:both;
    }

    .content_right{
        float: right;
        width: 50%;  
    }

    .content_left{
        float: left;
        width: 50%;   
    }

    .content_normal{
        clear: both;
    }
}
/*when the screen is between 768 and 1200 px --> change the body as follow*/
@media (min-width: 768px) and (max-width: 1200px){
        body  {
        background-image: url("../img/Star_small.png");
        background-size:repeat;
        background-color:white;
    }
    
    body  {
        background-image: url("../img/Star_small.png");
        background-size:repeat;
        background-color:white;
    }
    
    .page{
        background-color: black;
        opacity: 0.9;
        color:white;
        width: 700px;
        margin: auto;
        padding: 20px 20px 20px 20px;
        font-family: Verdana;
    }
    
    .head_left{
        clear:both;
    }
    
    .head_right{
        clear:both;
    }
    
    .page_content{
        clear:both;
    }
    
    .content_left{
        clear:both;
    }
    
    .content_right{
        clear:both;
    }
    
    .content_normal{
        clear: both;
    }
}
*/

/*when the screen is bellow 767px --> change the body as follow*/
@media screen and (max-width: 767px){
    /*NEED HELP - background-color and font color not responding as expected!!!!*/

    body  {
        background-color:black;
    }
    .page{
        background: black;
        color:white
        width: 100%;
        margin: auto;
        padding: 20px 20px 20px 20px;
        font-family: Verdana;
    }

    .head_left{
        clear:both;
    }
    
    .head_right{
        clear:both;
    }
    
    .page_content{
        clear:both;
    }
    
    .content_left{
        clear:both;
    }
    
    .content_right{
        clear:both;
    }
    
    .content_normal{
        clear: both;
    }
}